body {
  background-color: white;
}

.carousel {
  width: 1000px;
  margin: 0 auto;
  margin-top: 5%;
}

.main-image {
  width: 31%;
  margin-bottom: 0.75em;
  margin: 0 auto;
  margin-top: 7%;
  
}


.caixa_preta{
 
    background: black;
    z-index: 1;
    width: 100%;
    position: absolute;
    margin-top: -23%;
    height: auto;
    opacity: 0.8;
}
