table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.table {
    border-collapse: collapse;
    background-color: #fff;
    width: 100%;
  }
  .table caption {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
  }
  .table th,
  .table td {
    padding: 5px;
  }
  .table thead {
    background-color: #333;
    color: #fff;
    height: 40px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #999;
  }