.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.view-button-enquete{
    margin-left: 33%;
    background-color: #a9a9a9;
}

.enquete{
    margin-left: 48%;
    color: #00A5DF;
    font-weight: bold;
    font-family: pt sans;
    font-size: 30px;
    letter-spacing: 3px;
}

.pergunta{
    font-family:  pt serif bold;
    font-size: 29px;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 11%;
}

.resultado-parcial{
    font-family: pt sans ;
    font-size: 17px;
    /* font-weight: bold; */
    margin-left: -20%;
}

.resultado-1{
    font-family: pt sans ;
    font-weight: bold;
    font-size: 17px;
    margin-left: -25%;
}

.resultado-2{
    font-family: pt sans ;
    font-weight: bold;
    font-size: 17px;
    margin-left: -25%;
}

.resultado-3{
    font-family: pt sans ;
    font-weight: bold;
    font-size: 17px;
    margin-left: -25%;
}

.resultado-4{
    font-family: pt sans ;
    font-weight: bold;
    font-size: 17px;
    margin-left: -25%;
}

.elementos-status-percentual{
    font-family: pt sans ;
    font-weight: bold;
    font-size: 17px;
    margin-top: 4%;
    
}


.radio-chex{
    margin-top: 5%;
    margin-left: 3%;
    font-family: pt sans;
    font-weight: bold;
    font-size: 18px;
}


.img-aspa{
    height: 205px;
    background-image: url(../img/aspas.png);
    background-repeat: no-repeat;
}

.img-seta-1{
    height: 300px;
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-position: 45% 0px;
}

.img-seta-2{
    margin-left: -69%;
}

.margin-enquete{
   margin-top: -77%;
}

.margin-interna{
    margin-top: 7%;
 }
 

 .progress-bar{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    
    height: 8px;
    padding: 0px;
    background-color: #ffff;
    display: flex;
    border: 1px solid black;
    border-radius: 2px;
    
  }
  
  .progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    width: calc(var(--progress) * 1%);
    background-color: #00A5DF;
    
  }


  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }
.table-margin{
        margin-top: 20%;
    }

    div.ex3 {
        background-color: lightblue;
        width: 110px;
        height: 110px;
        overflow: auto;
      }